body{
    font-family: Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
}

#gameIntro { margin: 0 0 10px 0; }
#gameBoard { margin: 10px 0 0 0; }
#gameBoard div img { width: 170px; height: 170px; padding:10px; }
.img-thumbnail { border: 2px solid #808080; padding: 10px; }

.selectedByHuman { border: 2px solid #00008b; }
.selectedByComputer { border: 2px solid #8b0000; }

.margintop { margin: 10px 0 0 0; }